<div style="position:fixed; left:0;top:0; width: 100%; height:650px;" 
[style.background-image]="'url(/assets/InfyBLR.jpg)'">
  
  <div class="float-container initial-top-margin initial-padding">

    <div class="float-child" style="text-align: right;">
      <div class="cloud" style="text-align: center;padding-top: 4px;padding-right: 4px;">
        <!-- <mat-icon style="font-size: 140px; color: #06066b;">cloud</mat-icon> -->
        
        <button mat-flat-button color="primary" style="background-color: rgb(1, 1, 100);" 
        (click)="openTicketGenerationForm()">
          Raise a Ticket
        </button>     
      </div>
    </div>
    
    <div class="float-child"style="text-align: left;">
      <div class="cloud" style="text-align: center;padding-top: 4px;padding-right: 4px;">
        <button mat-flat-button color="primary" style="background-color: rgb(1, 1, 100);" 
        (click)="openChatbotWindow()">
          Talk to Digi Assist
        </button>
      </div>
    </div>
    
  </div>

</div>
