/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #ebf9fd; }

#footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(1, 1, 100);
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding-top: 10px;
    height: 25px;
    z-index: 1;
}

.success-snackbar{
    background-color: rgb(191,231,191);
    border-color: rgb(18,112,59);
    max-width: 800px;
    min-width: 305px;
    border-style: solid;
    border-radius: 1px;
    color: rgb(18,112,59);
    font-weight: bold;
    position: absolute;
    bottom: 2%;
    left: 32%;
}

.mat-simple-snackbar-action{
    color: rgb(105,0,0) !important ;
}
.failure-snackbar{
    background-color: rgb(226,142,142);
    border-color: rgb(146,36,36);
    max-width: 800px;
    min-width: 305px;
    border-style: solid;
    border-radius: 1px;
    color: rgb(146,36,36);
    font-weight: bold;
    position: absolute;
    bottom: 2%;
    left: 32%;
}
